src/main/mule/ordermanagement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="eb7c7587-faad-4ae1-ac03-d9ac0c406fe1" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="anurag.a.puri@apisero.com" password="\mg.Z2sn">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="ordermanagementFlow" doc:id="b9bd0e62-38f3-4b07-9c63-d0b19612b6f0" >
		<logger level="INFO" doc:name="EntryLogger" doc:id="85d0ebf6-78e7-4331-8dc7-c10e0b3178e5" message="#[payload]"/>
		<db:insert doc:name="Insert" doc:id="499d416b-7b52-439c-ae76-79c8d6e70c46" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into bookedmovietickets values (:BookingId,:MovieName,:Location,:ShowDate,:ShowTime,:NoofSeatsBooked,:Discount,:TotalPrice)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'BookingId':payload.BookingId as Number default 0,
	'MovieName': payload.MovieName as String default " ",
	'Location': payload.Location as String default " ",
	'ShowDate': payload.ShowDate as String default " ",
	'ShowTime': payload.ShowTime as String default " ",
	'NoofSeatsBooked': payload.NoofSeatsBooked as Number default 0,
	'Discount': payload.Discount as String default " ",
	'TotalPrice': payload.TotalPrice as Number default 0
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="ExitLogger" doc:id="eb95963e-018a-404b-ace3-d6ba84d6363e" message="Order Details succesfully added to the database"/>
	</flow>
</mule>
